@mixin floatingBox1 {
  border: 2px solid $lightGrey;
  border-radius: 5px;
  box-shadow: -1px -1px 3px 1px $darkGrey;
  background: $nearWhite;
  background-image: linear-gradient(to bottom right, $nearWhite, white);
  margin: 6px;
}
