$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$navyBlue: #182c61;
$text: #1e272e;
$darkGrey: #485460;
$lightGrey: #dfe4ea;
$headerLight: #d2dae2;
$blue: #3742fa;
$weewurPurple: #5f27cd;
$sectionTransitionTime: 0.3s;
