$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$navyBlue: #182c61;
$text: #1e272e;
$darkGrey: #485460;
$lightGrey: #dfe4ea;
$nearWhite: #f2f2f2;
$headerLight: #d2dae2;
$magenta: #6f1e51;
$blue: #3742fa;
$blue2: #3c40c6;
$blue2Fade: #4d51cb;
$weewurPurple: #5f27cd;
$sectionTransitionTime: 0.3s;
